body {
    font-family: Arial, sans-serif;
    background-color: #ffd9a7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
}

#productos, #carrito {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    width: 45%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
}

.producto {
    padding: 1rem;
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.producto:hover {
    background-color: #f46161;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.totales {
    margin-top: 1rem;
}

#procesar {
    margin-top: 1rem;
    width: 100%;
    padding: 0.75rem;
    background-color: #2a9d8f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#procesar:hover {
    background-color: #21867a;
}

#tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 1rem;
    gap: 10px;
    scrollbar-color: #ff0000 #ffd9a7;
    scrollbar-width: thin;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;
}

.tab {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    flex: 0 0 auto;
}

.tab.active {
    background-color: #a31b1b;
}

.tab:hover {
    background-color: #f46161;
}

#tabs::-webkit-scrollbar {
    height: 8px;
}

#tabs::-webkit-scrollbar-track {
    background: #ffd9a7;
    border-radius: 10px;
}

#tabs::-webkit-scrollbar-track {
    background: #ffd9a7;
}