body {
    font-family: Arial, sans-serif;
    background-color: #ffd9a7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1{
    color:#ff0000;
}

#iniciarSession {
    text-align: center;
    color: #c21313;;
    padding: 0.3rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.loginInfo {
    text-align: center;
    color: #2a9d8f;
    padding: 0.3rem;
    font-weight: bold;
}

.loginInfo button{
    margin-left: 10px;
    background-color: #c21313;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 6px;
}

.loginInfo button:hover {
    background-color: #a31b1b;
}

#title {
    text-align: center;
    color: #c21313;
    margin-top: 0.5rem;
}

#headerBtn {
    top: 20px;
    right: 20px;
    background-color: #ff0000;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

#headerBtn:hover {
    background-color: #f46161;
}

#banner {
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

#cashier-id {
    color: #c21313;
    margin-top: 0.5rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
}
#buscar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;

 }
.search-bar{
    text-align: center;
    height: 40px;
    width: 400px;
    overflow: hidden;
    border: none;
    border-radius: 20px;
}

#searchInput{
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    outline: none;
    border: none;
}

searchInput::placeholder{
    font-size: 15px;
}

#buscar-producto {
    margin-top: 12px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    background-color: #ff0000 !important;
    color: #ffffff !important;            /* texto blanco */
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    width: auto;
    max-width: 200px;
    text-align: center;
}

#buscar-producto:hover {
    background-color: #a31b1b !important;
}
#productos, #carrito {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    width: 45%;
}

#historial, #login-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    width: 90%;
    margin: 1rem auto;
    max-height: 70vh;
    overflow-y: auto;
}

.separate {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background-color: #ff0000;
    color: white;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.separate ul {
    padding-left: 20px;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
}

.producto_grid {
    max-height: 70vh;
    overflow-y: auto;
}
.producto {
    padding: 1rem;
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#ssn {
    justify-content: center;
}

.producto:hover {
    background-color: #f46161;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.totales {
    margin-top: 1rem;
}

li strong {
    font-weight: bold;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    font-weight: bold;
}

#procesar {
    margin-top: 1rem;
    width: 100%;
    padding: 0.75rem;
    background-color: #2a9d8f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#procesar:hover {
    background-color: #21867a;
}

#tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 1rem;
    gap: 10px;
    scrollbar-color: #ff0000 #ffd9a7;
    scrollbar-width: thin;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;
}

.tab {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    flex: 0 0 auto;
}

.tab.active {
    background-color: #a31b1b;
}

.tab:hover {
    background-color: #f46161;
}

#tabs::-webkit-scrollbar {
    height: 8px;
}

#tabs::-webkit-scrollbar-track {
    background: #ffd9a7;
    border-radius: 10px;
}

#tabs::-webkit-scrollbar-track {
    background: #ffd9a7;
}

.eliminar {
    margin-left: 10px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 6px;
}

.eliminar:hover {
    background-color: #c1121f;
}

#side-buttons {
    width: 100px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#void-total {
    padding: 1rem;
    color: white;
    background-color: #7c000a;
}

#void-total:hover {
    background-color: rgb(49, 2, 6);
}

#buscar-producto {
    color: white;
    background-color: #acacac;
}

#buscar-producto:hover {
    background-color: #505050;
}

.historial-container {
    padding: 2rem;
}

.reciboBtn {
    display: inline-block;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #2a9d8f;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.reciboBtn:hover {
    background-color: #21867a;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 50%; height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    background-color: #fff;
    padding: 20px;
    border: #7c000a;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.modal-buttons button{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#verificar-edad {
    background-color: green;
}

#cancelar-edad{
    background-color: #ff0000;
}

.settings-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
    padding: 1rem 10px;
}

#settingBtn {
    text-wrap: inherit;
    top: 20px;
    right: 20px;
    background-color: #ff0000;
    color: white;
    padding: 2rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

#settingBtn:hover {
    background-color: #f46161;
}

#setting-return {
    text-wrap: inherit;
    background-color: #063ffa;
    color: white;
    padding: 2rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}