body {
    font-family: Arial, sans-serif;
    background-color: #ffd9a7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
}

#title {
    text-align: center;
    color: #c21313;
    margin-top: 0.5rem;
}

#headerBtn {
    top: 20px;
    right: 20px;
    background-color: #ff0000;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

header #headerBtn:hover {
    background-color: #f46161;
}

#banner {
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

#cashier-id {
    color: #c21313;
    margin-top: 0.5rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
}

#productos, #carrito {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    width: 45%;
}

#historial {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    width: 90%;
    margin: 1rem auto;
    max-height: 70vh;
    overflow-y: auto;
}

.separate {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background-color: #ff0000;
    color: white;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.separate:hover {
    background-color: #f46161;
}

.separate ul {
    padding-left: 20px;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
}

.producto {
    padding: 1rem;
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.producto:hover {
    background-color: #f46161;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.totales {
    margin-top: 1rem;
}

li strong {
    font-weight: bold;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    font-weight: bold;
}

#procesar {
    margin-top: 1rem;
    width: 100%;
    padding: 0.75rem;
    background-color: #2a9d8f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#procesar:hover {
    background-color: #21867a;
}

#tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 1rem;
    gap: 10px;
    scrollbar-color: #ff0000 #ffd9a7;
    scrollbar-width: thin;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;
}

.tab {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    flex: 0 0 auto;
}

.tab.active {
    background-color: #a31b1b;
}

.tab:hover {
    background-color: #f46161;
}

#tabs::-webkit-scrollbar {
    height: 8px;
}

#tabs::-webkit-scrollbar-track {
    background: #ffd9a7;
    border-radius: 10px;
}

#tabs::-webkit-scrollbar-track {
    background: #ffd9a7;
}

.eliminar {
    margin-left: 10px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 6px;
}

.eliminar:hover {
    background-color: #c1121f;
}

#void-total {
    padding: 1rem;
    background-color: #7c000a;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#void-total:hover {
    background-color: rgb(49, 2, 6);
}

.historial-container {
    padding: 2rem;
}