<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectos - Settings</title>
    <link rel="icon" href="/static/productos/selectosfavicon.png">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!--Encabezado del Selectos-->
    <header>
        <img src="/static/productos/pasillo.png" alt="Banner de Selectos" id="banner">
        <img src="/static/productos/selectoslogo.png" alt="Logo de Selectos" id="logo">
        <h1>Settings</h1>
    </header>
    <body>
        <div class ="settings-grid">
            <a href="/login" id="settingBtn">Log Out</a>
            <a href="/historial" id="settingBtn">Ver Historial</a>
            <a href="/" id="setting-return">Exit</a>
        </div>
    </body>